<div class="col-md-12 col-md-push-4">
          <%= form_tag search_by_address_path, :method => 'get' do %>
          <p>
          <%= text_field_tag :address, params[:address] %>
          <%= submit_tag "Search Providers by Address", :name => nil, :class => "btn btn-success btn-lg" %>
          </p><br><br>
          
          <% end %>
</div>

<div class="col-md-12 col-md-push-4">
          <%= form_tag search_by_name_path, :method => 'get' do %>
          <p>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search Providers by Name", :name => nil, :class => "btn btn-success btn-lg" %>
          </p><br><br>
          
          <% end %>
</div>



<% @providers.each do |provider| %>
      
        <h3><%= link_to provider.name, provider_path(provider) %></h3> 
        <h4><%= provider.address %></h4><br>

<% end %>