<%= @provider.name %>
<%= @provider.address %>
<table class="pro-show-table col-md-8">
  <thead>
    <tr>
      <th>Procedure Name</th>
      
      <th>Insurance Price</th>
      <th>Cash Price</th>
      
    </tr>
  </thead>

  <tbody>
    <% @provider.procedures.each do |procedure| %>
      <tr>
        <td><%= procedure.name %></td>
        
        <td><%= procedure.cash_price %></td>
        <td><%= procedure.insurance_price %></td>
        <td><%= link_to 'Show', procedure %></td>
        <td><%= link_to 'Edit', edit_procedure_path(procedure) %></td>
        <td><%= link_to 'Destroy', procedure, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>If you spot any pricing data you believe to be incorrect; please notify us at healhcostconnect@gmail.com</p>