<div class="row">
  <div class="col-sm-12 col-sm-push-4">
    <h1>All Procedures</h1>
  </div>
</div>

<table class="table">
    <thead>
      <tr>
        
        
      </tr>
    </thead>
    <tbody>
      <tr><th>Emergency Room</th><td></td><td></td></tr>
      <tr>
        <td><%= link_to "Emergency Room Level 1", procedures_path(code: '99281') %></td>
        <td><%= link_to "Emergency Room Level 2", procedures_path(code: '99282') %></td>
        <td><%= link_to "Emergency Room Level 3", procedures_path(code: '99283') %></td>
      </tr>
      <tr>
        <td><%= link_to "Emergency Room Level 4", procedures_path(code: '99284') %></td>
        <td><%= link_to "Emergency Room Level 5", procedures_path(code: '99285') %></td>
        <td><%= link_to "Emergency Room Critical Care", procedures_path(code: '99291') %></td>
      </tr>
      <tr><th>Radiology</th><td></td><td></td></tr>
      <tr>
        
        <td><%= link_to "CT Scan Abdomen w/Contrast Materials", procedures_path(code: '74160') %></td>
        <td><%= link_to "CT Scan Abdomen w/ & w/o Contrast Material", procedures_path(code: '74170') %></td>
        <td><%= link_to "EEG", procedures_path(code: '95816') %></td>
      </tr>
      <tr>
        <td><%= link_to "CT Scan Abdomen w/o Contrast Material", procedures_path(code: '74150') %></td>
        <td><%= link_to "CT Scan Abdomen and Pelvis w/Contrast Material", procedures_path(code: '74177') %></td>
        <td><%= link_to "CT Scan Abdomen and Pelvis w/o Contrast Material", procedures_path(code: '74176') %></td>
      </tr>
      <tr>
        <td><%= link_to "CT Scan Head w/o Contrast Materials", procedures_path(code: '70450') %></td>
        <td><%= link_to "CT Scan Chest w/Contrast Materials", procedures_path(code: '71260') %></td>
        <td><%= link_to "CT Scan Chest w/o Contrast Material", procedures_path(code: '74170') %></td>
      </tr>
      <tr>
        <td><%= link_to "CT Scan Pelvis w/Contrast Material", procedures_path(code: '72193') %></td>
        <td><%= link_to "DXA Bone Density Study", procedures_path(code: '77080') %></td>
        <td><%= link_to "MRI Brain w/ & w/o Contrast Material", procedures_path(code: '70553') %></td>
      </tr>
      
      <tr>
        <td><%= link_to "MRI Breast DX", procedures_path(code: '77059') %></td>
        <td><%= link_to "MRI Cervical w/ & w/o", procedures_path(code: '72156') %></td>
        <td><%= link_to "MRI Lumbar w/ & w/o", procedures_path(code: '72158') %></td>
      </tr>
      <tr>
        <td><%= link_to "Ultrasound Abdomen Single Organ", procedures_path(code: '76705') %></td>
        <td><%= link_to "Ultrasound Abdomen Complete", procedures_path(code: '76700') %></td>
        <td><%= link_to "Ultrasound Aorta", procedures_path(code: '93978') %></td>
      </tr>
      <tr>
        <td><%= link_to "Ultrasound Carotid", procedures_path(code: '93880') %></td>
        <td><%= link_to "Ultrasound Gallbladder", procedures_path(code: '76705') %></td>
        <td><%= link_to "Ultrasound Pelvis", procedures_path(code: '76856') %></td>
      </tr>
      <tr>
        <td><%= link_to "Ultrasound Pelivs Transvag Non-OB", procedures_path(code: '76830') %></td>
        <td><%= link_to "Ultrasound Renal", procedures_path(code: '76775') %></td>
        <td><%= link_to "Ultrasound Testicular", procedures_path(code: '76870') %></td>
      </tr>
      <tr>
        <td><%= link_to "Ultrasound Venous LE", procedures_path(code: '93971') %></td>
        <td><%= link_to "X-Ray Abdomen", procedures_path(code: '74022') %></td>
        <td><%= link_to "X-Ray Ankle", procedures_path(code: '73610') %></td>
      </tr>
      <tr>
        <td><%= link_to "X-Ray Cervical", procedures_path(code: '72050') %></td>
        <td><%= link_to "X-Ray Chest 2 View", procedures_path(code: '71020') %></td>
        <td><%= link_to "X-Ray Elbow", procedures_path(code: '73080') %></td>
      </tr>
      <tr>
        <td><%= link_to "X-Ray Foot 3+ View", procedures_path(code: '73630') %></td>
        <td><%= link_to "X-Ray Hand 3+ View", procedures_path(code: '73130') %></td>
        <td><%= link_to "X-Ray Hip 2+ View", procedures_path(code: '73530') %></td>
      </tr>
      <tr>
        <td><%= link_to "X-Ray Knee 1-2 View", procedures_path(code: '73564') %></td>
        <td><%= link_to "X-Ray Knee 3+ View", procedures_path(code: '73562') %></td>
        <td><%= link_to "X-Ray Lumbar", procedures_path(code: '72100') %></td>
      </tr>
      <tr>
        <td><%= link_to "X-Ray Shoulder", procedures_path(code: '73030') %></td>
        <td><%= link_to "X-Ray Wrist", procedures_path(code: '73110') %></td>
        <td></td>
      </tr>
      
      <tr>
        <td><%= link_to "CT Scan Pulmonary/Angiogram", procedures_path(code: '71275') %></td>
        <td><%= link_to "CT Scan Low Dose Cancer Screening", procedures_path(code: '71250LD') %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= link_to "MRI Lumbar WO", procedures_path(code: '72148') %></td>
        <td><%= link_to "Mammogram Screen", procedures_path(code: '77057') %></td>
        <td><%= link_to "MRI Brain W", procedures_path(code: '70552') %></td>
      </tr>
      
      

      <th>Cardiology Testing</th><td></td><td></td></tr>
      <tr>
        
        <td><%= link_to "Echocardiography", procedures_path(code: '93307') %></td>
        <td><%= link_to "Echocardiography Stress", procedures_path(code: '93350') %></td>
        <td><%= link_to "Holter Record", procedures_path(code: '93225') %></td>
      </tr>

      <tr>
        
        <td><%= link_to "Holter Analysis", procedures_path(code: '93226') %></td>
        <td><%= link_to "Myocardial Perfusion Spect", procedures_path(code: '78452') %></td>
        <td><%= link_to "Stress Test", procedures_path(code: '93017') %></td>
      </tr>
      

      <tr>
      <td><%= link_to "EKG", procedures_path(code: '93000') %></td><td></td><td></td>
      </tr>
      
      <th>Pulmonology Testing</th><td></td><td></td></tr>
      <tr>
        
        <td><%= link_to "Sleep Study Unattended", procedures_path(code: '95806') %></td>
        <td><%= link_to "Spirometry", procedures_path(code: '94010') %></td>
        <td><%= link_to "Aerososl Treatment", procedures_path(code: '94640') %></td>
      </tr>
      
      

      <tr>

      <tr>
      <th>Physical Therapy</th><td></td><td></td>
      </tr>
      <tr>
        <td><%= link_to "E-Stim Therapy", procedures_path(code: '97014') %></td>
        <td><%= link_to "Physical Therapy First Visit", procedures_path(code: '97001') %></td>
        <td><%= link_to "Iontophoresis", procedures_path(code: '97033') %></td>
      </tr>

      <tr>
        <td><%= link_to "Gait 15 Min", procedures_path(code: '97116') %></td>
        <td><%= link_to "Ther Activity", procedures_path(code: '97530') %></td>
        <td><%= link_to "Ther Ex 15 Min", procedures_path(code: '97110') %></td>
      </tr>

      <tr>
        <td><%= link_to "Man Tech 15 Min", procedures_path(code: '97140') %></td>
        <td><%= link_to "Re-Eval", procedures_path(code: '97002') %></td>
        <td><%= link_to "Neuromuscular Re-Ed", procedures_path(code: '97112') %></td>
      </tr>
      <tr>
        <td><%= link_to "Ultrasound 15 Min", procedures_path(code: '97035') %></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
      <th>Gastroenterology</th><td></td><td></td>
      </tr>
      <tr>
        <td><%= link_to "Facility/Physician Colon", procedures_path(code: 'FFPF45378') %></td>
        <td><%= link_to "Endoscopy Colon/EGD", procedures_path(code: 'FF4537843235') %></td>
        <td><%= link_to "Colonoscopy Physician", procedures_path(code: '45378') %></td>
      </tr>
      <tr>
        <td><%= link_to "Facility/Physician Colon/EGD", procedures_path(code: 'FFPF4537843235') %></td>
        <td><%= link_to "EGD Physician", procedures_path(code: '43235') %></td>
        <td><%= link_to "Facility/Physician EGD", procedures_path(code: 'FFPF43235') %></td>
      </tr>
      <tr>
        <td><%= link_to "Endoscopy Colon", procedures_path(code: 'FF45378') %></td>
        <td><%= link_to "Endoscopy/EGD", procedures_path(code: 'FF43235') %></td>
        <td></td>
      </tr>
      <tr>
        <td><%= link_to "GI Office Visit Level 2", procedures_path(code: 'GI99213') %></td>
        <td><%= link_to "GI Office Visit Level 3", procedures_path(code: 'GI99213') %></td>
        <td><%= link_to "GI Office Visit Level 4", procedures_path(code: 'GI99214') %></td>
      </tr>
      <tr>
        <td><%= link_to "GI Office Visit Level 5", procedures_path(code: 'GI99215') %></td>
        <td><%= link_to "GI Office Visit Level 3 NP", procedures_path(code: 'GI99203') %></td>
        <td><%= link_to "GI Office Visit Level 4 NP", procedures_path(code: 'GI99204') %></td>
      </tr>
      <tr>
        <td><%= link_to "GI Consult OP L2", procedures_path(code: 'GI99242') %></td>
        <td><%= link_to "GI Consult OP L3", procedures_path(code: 'GI99243') %></td>
        <td><%= link_to "GI Consult OP L4", procedures_path(code: 'GI99244') %></td>
      </tr>
      <tr>
        <td><%= link_to "GI Consult OP L5", procedures_path(code: 'GI99245') %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
      <th>Primary Care</th><td></td><td></td>
      </tr>
      <tr>
        <td><%= link_to "HemoglobinA1C", procedures_path(code: '83036') %></td>
        <td><%= link_to "Vaccine TdaP", procedures_path(code: '90715') %></td>
        <td><%= link_to "Vaccine/Medication Administration First", procedures_path(code: '90471') %></td>
      </tr>
      <tr>
        <td><%= link_to "Vaccine/Medication Administration Add", procedures_path(code: '90472') %></td>
        <td><%= link_to "Earwax Removal", procedures_path(code: '69210') %></td>
        <td><%= link_to "EKG", procedures_path(code: '93000') %></td>
      </tr>
      <tr>
        <td><%= link_to "Fasting Blood Sugar Fingerstick", procedures_path(code: '82962') %></td>
        <td><%= link_to "Vaccine Hepatitis A Adult", procedures_path(code: '90632') %></td>
        <td><%= link_to "Vaccine Hepatitis B Adult", procedures_path(code: '90746') %></td>
      </tr>
      <tr>
        <td><%= link_to "Vaccine Human Papilloma virus", procedures_path(code: '90649') %></td>
        <td><%= link_to "Vaccine Influenza Trivalent", procedures_path(code: '90658') %></td>
        <td><%= link_to "Joint Injection/Drainage Med", procedures_path(code: '20605') %></td>
      </tr>
      <tr>
        <td><%= link_to "Joint Injection/Drainage Leg", procedures_path(code: '20610') %></td>
        <td><%= link_to "Medical Wellness Exam 0-12 Month", procedures_path(code: '99391') %></td>
        <td><%= link_to "Medical Wellness Exam 5-11 Year", procedures_path(code: '99393') %></td>
      </tr>
      <tr>
        <td><%= link_to "Medical Wellness Exam 11-12 Year", procedures_path(code: '99394') %></td>
        <td><%= link_to "Medical Wellness Exam 18-39 Year", procedures_path(code: '99395') %></td>
        <td><%= link_to "Medical Wellness Exam 40-65 Year", procedures_path(code: '99396') %></td>
      </tr>
      <tr>
        <td><%= link_to "Medical Wellness Exam >65 Year", procedures_path(code: '99397') %></td>
        <td><%= link_to "Vaccine Meningococcal Meningitis", procedures_path(code: '90734') %></td>
        <td><%= link_to "Vaccine MMR", procedures_path(code: '90707') %></td>
      </tr>
      <tr>
        <td><%= link_to "Aerosol Treatment", procedures_path(code: '94640') %></td>
        <td><%= link_to "Office Visit Level 2 Established", procedures_path(code: '99212') %></td>
        <td><%= link_to "Office Visit Level 3 Established", procedures_path(code: '99213') %></td>
      </tr>
      <tr>
        <td><%= link_to "Office Visit Level 4 Established", procedures_path(code: '99214') %></td>
        <td><%= link_to "Office Visit Level 5 Established", procedures_path(code: '99215') %></td>
        <td><%= link_to "Pregnancy Test Urine", procedures_path(code: '81025') %></td>
      </tr>
      <tr>
        <td><%= link_to "Injection Phenergan", procedures_path(code: 'J2250') %></td>
        <td><%= link_to "Vaccine Pneumovax Pneumococcal 23", procedures_path(code: '90732') %></td>
        <td><%= link_to "Vaccine Polio IPV", procedures_path(code: '90713') %></td>
      </tr>
      <tr>
        <td><%= link_to "PROTIME", procedures_path(code: '85610') %></td>
        <td><%= link_to "Vaccine Prevnar Pneumococcal 13", procedures_path(code: '90670') %></td>
        <td><%= link_to "Shave Lesion Trunk 0.5cm", procedures_path(code: '11300') %></td>
      </tr>
      <tr>
        <td><%= link_to "Shave Lesion Face 0.5cm", procedures_path(code: '99214') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td><%= link_to "Injection Steriod 40mg", procedures_path(code: 'J1030') %></td>
        <td><%= link_to "TB Skin Test", procedures_path(code: '86580') %></td>
        <td><%= link_to "Vaccine Td", procedures_path(code: '90714') %></td>
      </tr>
      <tr>
        <td><%= link_to "Injection Toradol 15mg", procedures_path(code: 'J1885') %></td>
        <td><%= link_to "Vaccine Varicellla Chicken Pox", procedures_path(code: '90716') %></td>
        <td><%= link_to "WART Treatment Cryotherapy", procedures_path(code: '17110') %></td>
      </tr>
      <tr>
        <td><%= link_to "Vaccine Shingles", procedures_path(code: '90736') %></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
      <th>Labratory Services</th><td></td><td></td>
      </tr>
      <tr>
        <td><%= link_to "BRCA1+2 SEQ+ COM", procedures_path(code: '81211') %></td>
        <td><%= link_to "Amylase", procedures_path(code: '82150') %></td>
        <td><%= link_to "Blood Culture", procedures_path(code: '87040') %></td>
      </tr>
      </tr>
      <tr>
        <td><%= link_to "ABO Blood Typing", procedures_path(code: '81211') %></td>
        <td><%= link_to "BRCA1+2 UNCOM", procedures_path(code: '81213') %></td>
        <td><%= link_to "HGB A1C", procedures_path(code: '83036') %></td>
      </tr>
      <tr>
        <td><%= link_to "Blood Gas Arterial", procedures_path(code: '82805') %></td>
        <td><%= link_to "BNP", procedures_path(code: '83880') %></td>
        <td><%= link_to "CBC With Diff", procedures_path(code: '85025') %></td>
      </tr>
      <tr>
        <td><%= link_to "Chem Panel Basic", procedures_path(code: '80048') %></td>
        <td><%= link_to "Chem Panel Complete", procedures_path(code: '80053') %></td>
        <td><%= link_to "CK Total", procedures_path(code: '82550') %></td>
      </tr>
      <tr>
        <td><%= link_to "CK MB Fraction", procedures_path(code: '82553') %></td>
        <td><%= link_to "Urine Culture", procedures_path(code: '87086') %></td>
        <td><%= link_to "Hematocrit", procedures_path(code: '85018') %></td>
      </tr>
      <tr>
        <td><%= link_to "Hemoglobin", procedures_path(code: '85014') %></td>
        <td><%= link_to "Hemoglobin A1C", procedures_path(code: '83036') %></td>
        <td><%= link_to "Hepatic Function Panel", procedures_path(code: '80076') %></td>
      </tr>
      <tr>
        <td><%= link_to "Lipase", procedures_path(code: '83690') %></td>
        <td><%= link_to "Lipid Panel", procedures_path(code: '80061') %></td>
        <td><%= link_to "Magnesium", procedures_path(code: '83735') %></td>
      </tr>
      <tr>
        <td><%= link_to "PAP", procedures_path(code: '88142') %></td>
        <td><%= link_to "Phosphorous", procedures_path(code: '84100') %></td>
        <td><%= link_to "Protime", procedures_path(code: '85610') %></td>
      </tr>
      <tr>
        <td><%= link_to "PSA", procedures_path(code: '84153') %></td>
        <td><%= link_to "Renal Panel", procedures_path(code: '80069') %></td>
        <td><%= link_to "Sedimentation Rate", procedures_path(code: '85652') %></td>
      </tr>
      <tr>
        <td><%= link_to "Troponin", procedures_path(code: '84484') %></td>
        <td><%= link_to "TSH", procedures_path(code: '84443') %></td>
        <td><%= link_to "Urine with Micro", procedures_path(code: '81015') %></td>
      </tr>
      <tr>
        <td><%= link_to "Venipuncture", procedures_path(code: '36500') %></td>
        <td></td>
        <td></td>
      </tr>

      <tr>
      <th>Hospital Services</th><td></td><td></td>
      </tr>
      <tr>
        <td><%= link_to "ER Level 1", procedures_path(code: '99281') %></td>
        <td><%= link_to "ER Level 2", procedures_path(code: '99282') %></td>
        <td><%= link_to "ER Level 3", procedures_path(code: '99283') %></td>
      </tr>
      <tr>
        <td><%= link_to "ER Level 4", procedures_path(code: '99284') %></td>
        <td><%= link_to "ER Level 5", procedures_path(code: '99285') %></td>
        <td><%= link_to "ER CC", procedures_path(code: '99291') %></td>
      </tr>
      <tr>
        <td><%= link_to "Facility Coronary Angiogram", procedures_path(code: 'FF93458') %></td>
        <td><%= link_to "Facility Cardioversion", procedures_path(code: 'FF92960') %></td>
        <td><%= link_to "Hospital Semi-Private", procedures_path(code: 'HSP') %></td>
      </tr>
      <tr>
        <td><%= link_to "Newborn Nursery", procedures_path(code: 'NN') %></td>
        <td><%= link_to "Newborn Nursery Special Care", procedures_path(code: 'NNSC') %></td>
        <td><%= link_to "Newborn Nursery Intermediate Care", procedures_path(code: 'NNIC') %></td>
      </tr>
      <tr>
        <td><%= link_to "Newborn Nursery ICU", procedures_path(code: 'NNICU') %></td>
        <td><%= link_to "Hospital Intermediate Care", procedures_path(code: 'HI') %></td>
        <td><%= link_to "Hospital Intermediate Care Telemetry", procedures_path(code: 'HIT') %></td>
      </tr>
      <tr>
        <td><%= link_to "Hospital Adult ICU", procedures_path(code: 'HAICU') %></td>
        <td><%= link_to "Psychiatric Semi-Private", procedures_path(code: 'PSP') %></td>
        <td><%= link_to "Antepartum Semi-Private", procedures_path(code: 'APSP') %></td>
      </tr>
      <tr>
        <td><%= link_to "Minor Surgery 15 Min", procedures_path(code: 'MS15') %></td>
        <td><%= link_to "Minor Surgery Add Min", procedures_path(code: 'MSADD1') %></td>
        <td><%= link_to "Major Surgery 15 Min", procedures_path(code: 'MAS15') %></td>
      </tr>
      <tr>
        <td><%= link_to "Major Surgery Add Min", procedures_path(code: 'MASADD1') %></td>
        <td><%= link_to "Complex Surgery 15 Min", procedures_path(code: 'COS15') %></td>
        <td><%= link_to "Complex Surgery Add Min", procedures_path(code: 'COSADD1') %></td>
      </tr>

      </tbody>
    </tbody>
  </table>