<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= @procedure.provider.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @procedure.name %>
</p>

<p>
  <strong>Insurance Price:</strong>
  <%= number_to_currency(@procedure.insurance_price) %>
</p>

<p>
  <strong>Cash Price:</strong>
  <%= number_to_currency(@procedure.cash_price) %>
</p>

<%= link_to 'Edit', edit_procedure_path(@procedure) %> 

