<%= form_for(procedure, url: admin_provider_procedure_path(@procedure.provider_id, @procedure), method: "put") do |f| %>
  
  <% if @procedure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@procedure.errors.count, "error") %> prohibited this procedure from being saved:</h2>

      <ul>
      <% @procedure.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :procedure_name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :code %><br>
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :cash_price %><br>
    <%= f.text_field :cash_price %>
  </div>
   <div class="field">
    <%= f.label :insurance_price %><br>
    <%= f.text_field :insurance_price %>
  </div>
  <div class="field">
    <%= f.label :price_description %><br>
    <%= f.text_field :price_description %>
  </div>
  <div class="actions">
    <%#= puts "LOOOOOOOOOK #{f.class}" %>
    <%= f.submit %>
  </div>
<% end %>
