<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "HealthCostConnect", root_path, class: "navbar-brand", id: "nav-title" %>
     
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Search Providers", providers_path, :id => "search-providers" %></li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-text" id="nav-providers">Providers <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            
            
            <% if provider_signed_in? %>
            <li><%= current_provider.name %></li>
            <li><%= link_to "New Procedure", new_procedure_path, :class => "nav-text" %></li>
            <li><%= link_to "Provider Settings", edit_provider_registration_path, :class => "nav-text" %></li>
            <li><%= link_to "Provider Log out", destroy_provider_session_path, :method => :delete, :class => "nav-text" %></li>
            <% else %>
            <li><%= link_to "Provider Log in", new_provider_session_path, :class => "nav-text" %></li>
            <li><%= link_to "Provider Sign Up", sign_up_path, :class => "nav-text" %></li>
            <li><%= link_to "Provider FAQ", faq_path, :class => "nav-text" %>
            </li>
            <% end %>

          </ul>
        </li>
      </ul>
      
      
    </div>
  </div>
</nav>